[commit]
	gpgsign = true
[core]
	autocrlf = true
	symlinks = true
	hideDotFiles = true
[fetch]
	prune = true
	recurseSubmodules = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[i18n]
	filesEncoding = utf-8
[merge]
	renormalize = true
	conflictStyle = diff3
[pull]
	rebase = true
[push]
	recurseSubmodules = on-demand
	followTags = true
[rebase]
	autoStash = true
	autosquash = true
[status]
	renames = true
	showStash = true
[submodule]
	active = .
	recurse = true
[tag]
	forceSignAnnotated = true
